.moviesHeading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moviesHeading>span {
    margin-top: 0.5em;
    margin-left: 0.5em;

}

.moviesHeading>h1 {
    text-decoration: underline;
}

#moviesWrap {
    overflow-y: auto;
    height: 72vh;
}

.pagination {
    margin: 0 !important;
    margin-top: 24px !important;
    justify-content: center;
}